:root{
    --yellow: #f9ca24;
}

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 02s linear;
}

*::selection{
    background: var(--yellow);
    color: blue; 
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    background: blue;
}

html::-webkit-scrollbar-thumb{
    background: rgb(255, 230, 0);
}

body{
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
    min-height: 100vh;
}

section{
    min-height: 100vh;
    padding: 1rem;
}


.btn {
    padding: .7rem 3rem;
    background: #1609c9;
    color: #f3a109;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    font-weight: 900;
    /* align-items: center; */
}


.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}


.btn:hover{
    background: var(--yellow);
    color: #1609c9;
}


.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}


.heading span{
    color: var(--yellow);
}

header{
    position: fixed;
    top: 5px;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}


header .user .name{
    font-size: 3.5rem;
    color: #fff;
}

header .user .post{
    font-size: 2rem;
    color: #eee;
}

header .navbar{
    width: 100%;
}


header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    font-weight: 700;
}

header .navbar ul li a:hover{
    background: var(--yellow);
    color: blue;
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: floralwhite;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}


.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color: #fff;
}


.home h1{
    font-size: 4.5rem;
    color: #fff;
}

.home h1 span{
    color: var(--yellow);

}

.home h1 last{
    font-size: 3.5rem;
    color: rgba(47, 220, 8, 0.801);
}


.home p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}



.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    font-weight: 800;
}

.about .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}


.about .row .info h3{
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: 800;
}

.about .row .info img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}

.about .row .info h3 span{
    color: #eee;
    padding: 0 .5rem;
}

.about .social-heading{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
    width: 100%;
}


.about .social-heading h1{
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: 800;
}

.about .social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    /* background: white; */
}

.sicon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #fff;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(37, 37, 1, 0.976);
    transition: all .3s ease-out;
}


.sicon:hover{
    width: 400px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}


.sicon:hover i{
    color: white;
}

.sicon .fa-facebook-f{
    color: #0c4284;
}


.fb:hover{
    background: #0c4284;
}

.sicon .fa-twitter{
    color: #1DA1F2;
}


.twt:hover{
    background: #1DA1F2;
}


.sicon .fa-instagram{
    color: #fE0000;
}


.ins:hover{
    background: #fE0000;
}


.sicon .fa-linkedin-in{
    color: #0d07c9e3;
}


.ink:hover{
    background: #0d07c9e3;
}


.sicon .fa-whatsapp{
    color: #00851f;
}


.wht:hover{
    background: #00851f;
}

.sicon span{
    color: #fff;
}



.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width: 20rem;
    background: goldenrod;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color: #1609c9;
}

.about .row .counter .box h3{
    font-size: 2rem;
    color: #058c36;
}


.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}



.education .box-container .box{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid var(--yellow);
    position: relative;    
}

.education .box-container .box span {
    font-size: 1.3rem;
    background: #1609c9;
    color: var(--yellow);
    border-radius: 5rem;
    padding: .5rem 2.5rem;
    font-weight: 800;
}

.education .box-container .box h3{
    font-size: 2rem;
    color: var(--yellow);
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color: white;
    padding: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #06f332f3;
    background: white;
}


.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}


.portfolio .box-container .box{
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: pointer;
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}


.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}


.contact .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}


.contact .row form .box{    
    padding: 1.5rem;
    margin: 1rem 0;
    background: #333;
    color: #eee;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}


.contact .row form .message{
    height: 15rem;
    resize: none;
}


.contact .row .content{
    text-transform: uppercase;
    color: var(--yellow);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
    font-weight: 800;
    text-transform:none;
}


.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--yellow);
}



.top{
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 100;
    display: none;
}


footer{
    background: #080cf6;
    padding: 3rem;
    margin-top: auto;
}




/* RESPONSIVENESS */

@media(max-width: 1200px){
    html {
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
}


@media(max-width: 991px){
   header{
    left: -120%;
   }
   #menu{
    display: block;
   }
   header.toggle{
    /* left: -0%; */
    left:0%;
   }
   body{
    padding: 0;
   }
}


@media(max-width: 768px){
    html{
        font-size: 50%;
    }
    .about .social{
        flex-direction: column;
    }
 }


@media(max-width: 400px){
    header{
     width: 100vw;
    }
    .heading{
        margin: 0 3rem;
    }
    .about .row .counter .box{
        width: 100%;
    }
    .education .box-container .box{
        width: 100%;
    }
    .portfolio .box-container .box{
        width: 100%;
    }
    .contact .row form{
        margin: 3rem 0;
    }
    .about .social{
        flex-direction: column;
    }
    
 }

 @media only screen and (min-width: 320px) and (max-width: 991px) {
    .about .social{
        flex-direction: column;
    }
 }