{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Education Section Starts here -->
<section class="education" id="education">
    <h1 class="heading"> My <span>Education</span> </h1>
    <div class="box-container">       
        {% for x in me %}
        <div class="box">            
                <i class="fas fa-graduation-cap"></i>
                <span>{{x.span}}</span>
                <h3>{{x.h3}}</h3>
                <p>{{x.para|safe}}</p>
                <p style="color: gold;font-weight: 800;">{{x.school|safe}}</p>
            
        </div>
        {% endfor %}
    </div>
</section>


<!-- Education Section Ends here -->

{% endblock content %}