{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hire Me</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/a.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/css/all.css'%}">
</head>

<body>
    <script>
        window.oncontextmenu = function(){
          alert('CONTACT OMOBUWA BLESSED ADEOYE')
          return false;
        }
    </script>
    <style>
        .active{
            background: green;
            color: white;
        }
    </style>
    <header>
        <div class="user">
            <img  src="{% static 'img/1.jpg' %}" alt="">
            <h3 class="name">ADEOYE BLESSED omobuwa</h3>
            <p class="post"> Health Information Manager <br>
                & <br>
                Python Programmer
            </p>
        </div>
        <nav class="navbar">
            <ul class="ade">
                <li><a href="{% url 'b:home' %}" class="nav-link {% if nav == 'home' %} active {% endif %}">Home</a></li>
                <li><a href="{% url 'b:about' %}">About</a></li>
                <li><a href="{% url 'b:educate' %}">Education</a></li>
                <li><a href="{% url 'b:port' %}">Portfolio</a></li>
                <li><a href="{% url 'b:contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="menu" class="fas fa-bars"></div>




    {% block content %}


    {% endblock content %}



    <!-- Scroll Top Button -->

    <a href="#" class="top">
        <h2 style="color: white;" class="fas fa-angle-double-up"></h2>
    </a>

<footer>
        <center>
            <p style="margin-right:45px; font-weight: 800; font-size: 18px; color: var(--yellow);  align-items: center; justify-content: center;">&copy; 2019 - <script>document.write(new Date().getFullYear());</script> &amp; Beyond - BLESSED ADEOYE.  All Rights Reserved.</p>
        </center>
</footer>

</body>
    




    <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static 'js/a.js'%}"></script>


</html>